/* line 15, ../sass/header.scss */
body > header {
  *zoom: 1;
  margin-bottom: 10px;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body > header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 19, ../sass/header.scss */
body > header #logo {
  position: absolute;
  margin-top: 20px;
  left: 5px;
}
/* line 25, ../sass/header.scss */
body > header nav {
  position: relative;
  display: inline-block;
  float: right;
}
/* line 30, ../sass/header.scss */
body > header nav > ul {
  display: inline-block;
  padding-top: 46px;
}
/* line 33, ../sass/header.scss */
body > header nav > ul > li {
  position: relative;
  margin-left: 45px;
  vertical-align: top;
  display: inline-block;
  background-color: white;
}
/* line 5, ../sass/rollout.scss */
body > header nav > ul > li ul {
  max-height: 0;
  -webkit-transition: max-height 1s linear;
  -moz-transition: max-height 1s linear;
  -ms-transition: max-height 1s linear;
  -o-transition: max-height 1s linear;
  transition: max-height 1s linear;
  z-index: 900;
}
/* line 11, ../sass/rollout.scss */
body > header nav > ul > li:hover ul {
  max-height: 400px !important;
}
/* line 40, ../sass/header.scss */
body > header nav > ul > li figure {
  border: 1px solid white;
  margin-bottom: 5px;
}
/* line 43, ../sass/header.scss */
body > header nav > ul > li figure .normal {
  display: block;
}
/* line 46, ../sass/header.scss */
body > header nav > ul > li figure .hover {
  display: none;
}
/* line 50, ../sass/header.scss */
body > header nav > ul > li ul {
  position: absolute;
  overflow: hidden;
  background-color: white;
  width: 200px;
}
/* line 55, ../sass/header.scss */
body > header nav > ul > li ul li {
  font-family: 'Ruluko';
  color: #707070;
  font-size: 10pt;
  text-decoration: none;
  font-weight: normal;
  margin: 10px;
}
/* line 29, ../sass/fonts.scss */
body > header nav > ul > li ul li a, body > header nav > ul > li ul li a:link a:active, body > header nav > ul > li ul li a:visited, body > header nav > ul > li ul li a:hover {
  color: inherit;
  font-size: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}
/* line 35, ../sass/fonts.scss */
body > header nav > ul > li ul li a:hover, body > header nav > ul > li ul li a.activer {
  color: #84acb0;
}
/* line 63, ../sass/header.scss */
body > header nav > ul li:hover figure .normal {
  display: none;
}
/* line 66, ../sass/header.scss */
body > header nav > ul li:hover figure .hover {
  display: block;
}
