/* line 12, ../sass/project.scss */
nav#thumbbar {
  width: 100%;
  text-align: left;
}
/* line 15, ../sass/project.scss */
nav#thumbbar .project {
  display: inline-block;
  margin: 0 3px;
  background-color: #84acb0;
  line-height: 1em;
  height: 12px;
}
/* line 22, ../sass/project.scss */
nav#thumbbar .project a.active img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 28, ../sass/project.scss */
hr {
  margin: 5px 0;
  padding: 0;
}

/* line 34, ../sass/project.scss */
header .short {
  font-size: 11pt;
}
/* line 37, ../sass/project.scss */
header .video {
  float: right;
  margin-right: 3px;
}
/* line 40, ../sass/project.scss */
header .video img {
  margin-right: 3px;
}

/* line 46, ../sass/project.scss */
#frontpage {
  display: block !important;
}

/* line 50, ../sass/project.scss */
.images {
  display: none;
  position: relative;
  width: 100%;
}
/* line 54, ../sass/project.scss */
.images img {
  position: absolute;
}
/* line 57, ../sass/project.scss */
.images:target {
  display: block;
}

/* line 62, ../sass/project.scss */
#prev, #next {
  position: absolute;
  width: 37px;
  height: 58px;
  top: 330px;
}

/* line 69, ../sass/project.scss */
#prev {
  left: 23px;
  background-image: url('/imgs/arrows/arrow_left.png?1339581409');
}
/* line 72, ../sass/project.scss */
#prev:hover {
  background-image: url('/imgs/arrows/arrow_left_hover.png?1339581388');
}

/* line 77, ../sass/project.scss */
#next {
  right: -52px;
  background-image: url('/imgs/arrows/arrow_right.png?1339581458');
}
/* line 80, ../sass/project.scss */
#next:hover {
  background-image: url('/imgs/arrows/arrow_right_hover.png?1339581448');
}
