/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 9, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/screen.scss */
body {
  position: relative;
  width: 980px;
  margin: 0 auto;
  padding-left: 80px;
}

/* line 13, ../sass/header.scss */
body > header {
  *zoom: 1;
  max-height: 84px;
}
/* line 38, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body > header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 17, ../sass/header.scss */
body > header #logo {
  position: relative;
  float: left;
  margin-top: 20px;
  left: -75px;
}
/* line 24, ../sass/header.scss */
body > header nav {
  position: relative;
  display: inline-block;
  float: right;
}
/* line 29, ../sass/header.scss */
body > header nav > ul {
  display: inline-block;
  padding-top: 50px;
  float: left;
}
/* line 33, ../sass/header.scss */
body > header nav > ul > li {
  position: relative;
  margin-left: 32px;
  vertical-align: top;
  display: inline-block;
  background-color: white;
}
/* line 5, ../sass/rollout.scss */
body > header nav > ul > li ul {
  max-height: 0;
  -moz-transition-property: max-height;
  -webkit-transition-property: max-height;
  -o-transition-property: max-height;
  transition-property: max-height;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 10, ../sass/rollout.scss */
body > header nav > ul > li:hover ul {
  max-height: 400px !important;
}
/* line 40, ../sass/header.scss */
body > header nav > ul > li figure {
  margin-bottom: 5px;
}
/* line 42, ../sass/header.scss */
body > header nav > ul > li figure .normal {
  display: block;
}
/* line 45, ../sass/header.scss */
body > header nav > ul > li figure .active {
  display: none;
}
/* line 49, ../sass/header.scss */
body > header nav > ul > li ul {
  position: absolute;
  overflow: hidden;
  background-color: white;
  width: 200px;
}
/* line 54, ../sass/header.scss */
body > header nav > ul > li ul li {
  font-family: 'Ruluko';
  color: #707070;
  font-size: 10pt;
  text-decoration: none;
  font-weight: normal;
  margin: 10px;
}
/* line 11, ../sass/fonts.scss */
body > header nav > ul > li ul li a, body > header nav > ul > li ul li a:link a:active, body > header nav > ul > li ul li a:visited, body > header nav > ul > li ul li a:hover {
  color: inherit;
  font-size: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}
/* line 17, ../sass/fonts.scss */
body > header nav > ul > li ul li a:hover, body > header nav > ul > li ul li a.activer {
  color: #84acb0;
}
/* line 61, ../sass/header.scss */
body > header nav > ul li:hover figure {
  border-bottom: 1px dotted black;
}
/* line 63, ../sass/header.scss */
body > header nav > ul li:hover figure .normal {
  display: none;
}
/* line 66, ../sass/header.scss */
body > header nav > ul li:hover figure .active {
  display: block;
}
