/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 9, ../sass/screen.scss */
body {
  position: relative;
  width: 980px;
  margin: 0 auto;
  padding-left: 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/header.scss */
body > header {
  *zoom: 1;
  max-height: 85px;
}
/* line 38, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body > header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 13, ../sass/header.scss */
body > header #logo {
  /*position: relative;
  display:inline-block;
  margin-top: 20px;
  margin-right: 0px;
  */
  position: relative;
  float: left;
  margin-top: 20px;
  left: -75px;
}
/* line 25, ../sass/header.scss */
body > header nav {
  position: relative;
  display: inline-block;
  float: right;
}
/* line 30, ../sass/header.scss */
body > header nav > ul {
  display: inline-block;
  float: left;
  padding-top: 50px;
}
/* line 34, ../sass/header.scss */
body > header nav > ul > li {
  vertical-align: top;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin-right: 32px;
}
/* line 40, ../sass/header.scss */
body > header nav > ul > li .normal {
  display: block;
}
/* line 43, ../sass/header.scss */
body > header nav > ul > li .active {
  display: none;
}
/* line 46, ../sass/header.scss */
body > header nav > ul > li ul {
  -webkit-transition: "max-height" 1s linear;
  -moz-transition: "max-height" 1s linear;
  -ms-transition: "max-height" 1s linear;
  -o-transition: "max-height" 1s linear;
  transition: "max-height" 1s linear;
  max-height: 0;
}
/* line 52, ../sass/header.scss */
body > header nav > ul li:hover .normal {
  display: none;
}
/* line 55, ../sass/header.scss */
body > header nav > ul li:hover .active {
  display: block;
}
/* line 58, ../sass/header.scss */
body > header nav > ul li:hover ul {
  max-height: 400px !important;
}

/* line 5, ../sass/footer.scss */
footer img#footerLine {
  position: relative;
  top: 0px;
}
/* line 10, ../sass/footer.scss */
footer div {
  font-family: 'Ruluko';
  color: #707070;
}
/* line 13, ../sass/footer.scss */
footer div > span {
  display: inline-block;
}
/* line 17, ../sass/footer.scss */
footer nav {
  float: right;
}
/* line 19, ../sass/footer.scss */
footer nav ul {
  display: inline-block;
}
/* line 24, ../sass/footer.scss */
footer nav li {
  display: inline-block;
}
/* line 27, ../sass/footer.scss */
footer nav a {
@inlude footer-font();
}
