@mixin ruluko {
	font-family: 'Ruluko';
}

@mixin rollout-font {
	@include ruluko;
	color: #707070;
	font-size: 10pt;
	text-decoration: none;
	font-weight: normal;
	a, a:link a:active, a:visited, a:hover {
		color: inherit;
		font-size: inherit;
		text-decoration: inherit;
		font-weight: inherit;
	}
	a:hover, a.activer {
		color: #84acb0;
	}
}

@mixin normal-font {
	@include ruluko;
	color: #707070;
	font-size: 10pt;
	text-decoration: none;
	font-weight: normal;
	a, a:link a:active, a:visited, a:hover {
		color: inherit;
		font-size: inherit;
		text-decoration: inherit;
		font-weight: inherit;
	}
	a:hover, a.activer {
		color: #84acb0;
	}
}

