@import "color";
@import "fonts";

footer {
    @include footer-font();
	img#footerLine {
    	position: relative;
    	top:0px;
    }

    div {
    	> span {
    		display: inline-block;
    	}
    }
    nav {
    	float: right;
        ul {

        	display: inline-block;
        }

        li {
        	display: inline-block;
        }
    }
}
