@import "color";
@import "fonts";

$footerbar-margin: 3px;

footer {
    @include footer-font();
    width: 100%;

    hr {
        margin: $footerbar-margin;
    }

	#footerbar {
        display: block;
        position: relative;
        top: 0px;
        width: 100%;
    }

    div {
        width: 100%;
    	> span {
    		display: inline-block;
    	}
    }

    nav {
    	float: right;
        ul {

        	display: inline-block;
        }
        li {
        	display: inline-block;
        }
    }
}
