@import "compass/utilities/general/clearfix";
@import "rollout";

$logo-offset-x: 75px;
$navi-button-distance-left:32px;

$rollout-animation-duration: 1s;
$rollout-animation: linear;

body > header {
	@include pie-clearfix();
	max-height: 84px;

	#logo {
		position: relative;
		float:left;
		margin-top:20px;
 		left: $logo-offset-x*-1;
	}

	nav {
		position: relative;
		display: inline-block;
		float: right;

		> ul {
			display: inline-block;
			padding-top: 50px;
			float: left;
			> li {
				overflow: hidden;
				position: relative;
				margin-left: $navi-button-distance-left;

				vertical-align: top;
				display: inline-block;
				@include rollout($rollout-animation-duration, $rollout-animation, ul);
				.normal {
					display: block;
				}
				.active {
					display: none;
				}
			}
			li:hover {
				.normal {
					display: none;
				}
				.active {
					display: block;
				}
			}
		}
	}
}
