$logo-offset-x: 75px;
$navi-button-distance-left:32px;
@import "compass/utilities/general/clearfix";

body > header {

	@include pie-clearfix();
	#logo {
		/*position: relative;
		display:inline-block;
		margin-top: 20px;
		margin-right: 0px;
		*/
		position: relative;
		float:left;
		margin-top:20px;
 		left: $logo-offset-x*-1;
	}

	nav {
		position:relative;
		display:inline-block;
		float:right;

		li{
			position:relative;
			display:inline-block;
			margin-right: $navi-button-distance-left;
			margin-top:50px;
		}
		figure {
			.normal {
				display: block;
			}
			.active {
				display: none;
			}
		}
		figure:hover {
			.normal {
				display: none;
			}
			.active {
				display: block;
			}
		}
		ul{
			display: inline-block;
			float:left;
		}
	}
}
