@import "compass/css3/opacity";
@import "compass/css3/images";
@import "color";

$thumbgroup-spacing: 3px;
// 1 = no tinting, 0 = no image left
$tinting: 0;
$dotbar-spacing: 5px;
$navbuttonwidth: 37px;
$navbuttonheight: 58px;

nav#thumbbar {
	width: 100%;
	text-align: left;
	.project {
		display: inline-block;
		margin: 0 $thumbgroup-spacing;
		background-color: $turquoise;
		line-height: 1em;
		height: 12px; // Dirty fix!
		a.active {
			img {
				@include opacity($tinting);
			}
		}
	}
}
hr {
	margin: $dotbar-spacing 0;
	padding: 0;
}

header {
	.short {
		font-size: 11pt;
	}
	.video {
		float: right;
		margin-right: $thumbgroup-spacing;
		img {
			margin-right: $thumbgroup-spacing;
		}
	}
}

#frontpage {
	display: block !important;
}

.images {
	display: none;
	position: relative;
	width: 100%;
	img {
		position: absolute;
	}
	&:target {
		display: block;
	}
}

#prev, #next {
	position: absolute;
	width: $navbuttonwidth;
	height: $navbuttonheight;
	top: 330px;;
}

#prev {
	left: 23px;
	@include background-image(image-url("arrows/arrow_left.png"));
	&:hover {
		@include background-image(image-url("arrows/arrow_left_hover.png"));
	}
}

#next {
	right: -52px;
	@include background-image(image-url("arrows/arrow_right.png"));
	&:hover {
		@include background-image(image-url("arrows/arrow_right_hover.png"));
	}
}
