@import "compass/css3/opacity";
@import "color";

$thumbgroup-spacing: 3px;
// 1 = no tinting, 0 = no image left
$tinting: 0.6;
$dotbar-spacing: 10px;

nav#thumbbar {
	width: 100%;
	text-align: center;
	padding-bottom: $dotbar-spacing;
	margin-bottom: $dotbar-spacing;
	border-bottom: 1px dotted black;
	.project {
		display: inline-block;
		margin: 0 $thumbgroup-spacing;
		background-color: $turquoise;
		line-height: 1em;
		height: 12px; // Dirty fix!
		a.active {
			img {
				@include opacity($tinting);
			}
		}
	}
}

> header {
	.short {
		font-size: 11pt;
		margin-bottom: 5px;
	}
	margin-bottom: 25px;
}

#frontpage {
	display: block !important;
}

.images {
	display: none;
	position: relative;
	width: 100%;
	img {
		position: absolute;
	}
	&:target {
		display: block;
	}
}

$tmpbutton: 40px;
#prev, #next {
	position: absolute;
	width: $tmpbutton;
	height: $tmpbutton;
	border: 1px solid black;
	top: 330px;;
}

#prev {
	left: -$tmpbutton + 75px;
}

#next {
	right: -$tmpbutton;
}
