@import "compass/css3/transition";


@mixin rollout($duration, $animation, $elem) {
	#{$elem} {
		max-height: 0;
		@include single-transition(max-height, $duration, $animation);
		z-index: 900;
	}
	&:hover {
		#{$elem} {
			max-height: 400px !important;
		}
	}
}
