@import "compass/utilities/general/clearfix";
@import "color";
@import "fonts";

$separator-spacing: 10px;
$table-cell-spacing-horizontal: 11px;
$table-cell-spacing-vertical: 5px;

#content {
	// Avoids collapsing of margins
	@include clearfix();
}

#textcontent {
	margin-left: 260px;
	margin-top: 40px;
	width: 400px;
	height: auto;
	@include normal-font();
	h1 {
		margin-top: $separator-spacing;
		color: $turquoise;
	}
	a, a:link, a:hover, a:active, a:visited {
		color: $turquoise !important;
	}
	hr {
		margin: $separator-spacing 0;
	}
	table#cv {
		td {
			&:last-child {
				padding: $table-cell-spacing-vertical $table-cell-spacing-horizontal;
			}
			&:first-child {
				padding: $table-cell-spacing-vertical 0;
				width: 67px;
				text-align: right;
				vertical-align: top;

			}
		}
	}
}
