<header>
	<figure id="logo">
		<a href="{{url}}/">
			<img src="{{url}}/imgs/header/logo.jpg" />
		</a>
	</figure>
	<nav>
		<ul>
			{% for item in page.menu %}
				<li>
					<figure>
						<a href="{{url}}/{{item}}.html">
							<img src="{{url}}/imgs/header/{{item}}button.jpg" class="normal" />
							<img src="{{url}}/imgs/header/{{item}}button_mouseover.jpg" class="active" />
						</a>
					</figure>
					{% unless item contains "ueb" %}
						<ul>
							{% for post in site.posts %}
								{% if post.category contains item %}
									<li>
										<a href="{{url}}{{post.url}}#page1">{{post.title}}</a>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					{% endunless %}
				</li>
			{% endfor %}
		</ul>
	</nav>
</header>
