<header>
	<figure id="logo">
		<a href="{{url}}/">
			<img src="{{url}}/imgs/header/logo.jpg" />
		</a>
	</figure>
	<nav>
		<ul>
			{% assign sortedPages = site.pages | sort:'in_menu' %}
			{% for item in sortedPages %}
				{% unless item.in_menu %}
					{% continue %}
				{% endunless %}
				{% if item.url == "/" %}
					{% continue %}
				{% endif %}

				<li>
					<figure>
					  <a href="{{url}}/{{item.title}}.html">
					    {% if page.category contains item.title and page.is_main != true %}
					      <img src="{{url}}/imgs/header/{{item.title}}button_active.png" class="normal" />
					    {% else %}
					      <img src="{{url}}/imgs/header/{{item.title}}button.png" class="normal" />
					    {% endif %}
					    <img src="{{url}}/imgs/header/{{item.title}}button_hover.png" class="hover" />
					  </a>
					</figure>
					{% unless item.title contains "ueb" %}
					  <ul>
					    {% for post in site.posts %}
					      {% if post.category contains item.title %}
					        <li>
					          <a href="{{url}}{{post.url}}#page1">{{post.title}}</a>
					        </li>
					      {% endif %}
					    {% endfor %}
					  </ul>
					{% endunless %}
					</li>

			{% endfor %}
		</ul>
	</nav>
</header>
